<!-- Main Content -->
<div id="content" style="width: 250px; float: left">
    <!-- Sidebar -->
    <ul style="width: 250px; border-right:solid 3px blue" class="navbar-nav bg-gradient-primary sidebar" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <!-- Divider -->
        <!-- Nav Item - Dashboard -->
        <!-- Divider -->
        <!-- Heading -->
       

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Thông Tin Tài Khoản</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="@Url.Action("Index", "UserLecture")">Thay Đổi Thông tin</a>
                    <a class="collapse-item" href="@Url.Action("changePassWord", "UserLecture")">Đổi Mật Khẩu</a>
                    <a class="collapse-item" href="@Url.Action("Index", "Login")"> Đăng xuất </a>
                </div>
            </div>
        </li>
        <!-- Nav Item - Utilities Collapse Menu -->
        <!-- Divider -->
        <hr class="sidebar-divider">

        @*<div class="sidebar-heading">
                Đề Tài
            </div>

            <li class="nav-item">
                <a href="@Url.Action("chuaduyet", "TopicOfLecture")" class="nav-link">
                    <i class="fas fa-fw fa-folder"></i>
                    Đăng ký
                </a>




            </li>*@


        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("myTopicLecture", "TopicOfLecture")">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Đề tài của tôi</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ViewCreateTopicOfLecture", "TopicOfLecture")">
                <i class="fas fa-pen-fancy"></i>
                <span>Đăng ký</span>
            </a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fa fa-flag-checkered"></i>
                <span>Báo Cáo</span>
            </a>
        </li>



        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("viewRegisterExtension", "TopicOfLecture")">
                <i class="fas fa-fw fa-table"></i>
                <span>Yêu Cầu Gia Hạn</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Cập Nhật Hoạt Động Nghiên Cứu</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Hủy Bỏ Hoạt Động</span>
            </a>
        </li>




        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message
        <div class="sidebar-card">
            <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="">
            <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
            <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
        </div>
            -->

    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <!-- End of Content Wrapper -->


</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
@*<a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

     Logout Modal
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>*@
<div style="width:800px; float:right; margin-right:240px">

</div>
<!-- /.container-fluid -->
<!-- End of Main Content -->
