@model DuAnQLNCKH.Models.Information
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listInfo = (List<DuAnQLNCKH.Models.Information>)ViewBag.listInfo;
}
<div class="row">
    <div class="col-md-10" style="font-size:25px; font-weight:bold; margin-bottom:30px">
        Thông tin chung
    </div>
    <div class="col-md-2">
        <a href="" class="fa fa-edit" data-toggle="modal" data-target="#showmodal">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
    </div>
</div>
@foreach (var item in listInfo)
{
    <div id="showmodal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:dodgerblue">

                    <h4 class="modal-title" >Sửa thông tin</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                @using (Html.BeginForm("editInfo", "UserManagement", FormMethod.Post, new { @class = "form - horizontal" }))
                {
                    <div class="modal-body">

                        <div class="form-group">
                            Họ và tên
                            @Html.TextBoxFor(Model => Model.NameLe, new {Value=item.NameLe})
                        </div>
                        <div class="form-group">
                            Số điện thoại
                            @Html.TextBoxFor(Model => Model.Phone, new { Value = item.Phone })
                        </div>
                        <div class="form-group">
                            Email
                            @Html.TextBoxFor(Model => Model.Email, new { Value = item.Email })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Lưu" />
                    </div>
                }
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}
    @foreach (var item in listInfo)
    {
        <div>
            <div class="form-group hitec-border-bottom-dotted">
                <label class="control-label">Họ và tên</label>
                <div>
                    <p class="form-control-static">@item.NameLe</p>
                </div>
            </div>
            <div class="form-group hitec-border-bottom-dotted">
                <label class="control-label">Số điện thoại</label>
                <div>
                    <p class="form-control-static">@item.Phone</p>
                </div>
            </div>
            <div class="form-group hitec-border-bottom-dotted">
                <label class="control-label">Email</label>
                <div>
                    <p class="form-control-static">@item.Email</p>
                </div>
            </div>
        </div>
    }



