@model IEnumerable<DuAnQLNCKH.Models.TopicOfLecture>
@{
    ViewBag.Title = "Thống kê tạp chí";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var topicOfStudents = (List<DuAnQLNCKH.Models.TopicOfStudentView>)ViewBag.topicOfStudents;
    var topicOfLectures = (List<DuAnQLNCKH.Models.TopicOfLectureView>)ViewBag.listTopicOfLecture;

}
<script src="~/Scripts/controller/StatisticController.js"></script>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<div class="page-header" style="margin-top:20px">
    <img src="~/images/statistic.png" width="50px" height="50px" />
    <strong style="color:blue; font-size:26px; font-weight:bold">Thống kê danh mục tạp chí</strong>
</div>
<hr />
<div class="tabs">
    <div class="tab-nav-wrapper">
        <ul>
            <li class="active"><a href="#tab1">Đề tài giảng viên</a></li>
            <li><a href="#tab2">Đề tài sinh viên</a></li>

        </ul>
    </div>

    <div class="tab-content-wrapper" style="width: 1050px">
        <div id="tab1" class="tab-content" style="display:none;">
            <div>

                <input id="Search" type="text" class="form-control" placeholder="Nhập tên đề tài giảng viên" name="name" />
            </div>
            <div>
                <h3> Tiêu chí thống kê </h3>
            </div>
            <div class="row" style="margin-bottom:20px">

                <div style="margin-right:20px" class="col-md-2">
                    Từ ngày
                    <input id="DateSt" type="date" value="2000-01-01" />
                </div>
                <div class="col-md-2">

                    Đến ngày
                    <input id="DateEnd" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </div>


            </div>
            <div class="row">
                <div class="col-md-4">
                 
                    @if (ViewBag.listtype != null)
                    {

                        @Html.DropDownList("IdP", ViewBag.listJournal as SelectList, "--Tất cả loại tạp chí--", new { @class = "form-control", @style = "background:#91a6e4ad; color:black; border:solid 1px black" })

                    }
                
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button style="margin:20px 0 10px 0" class="btn btn-default" id="buttonSearch"><i class="fa fa-search"> Tìm kiếm</i> </button>
                </div>
                <div style="margin-left:580px" class="col-md-3">
                    @using (Html.BeginForm("ExportExcel", "Statistic", FormMethod.Post))
                    {
                        <div class="form-group">
                            <input id="IdPa" name="IdPa" type="hidden" value="Tất cả loại tạp chí" />
                        </div>
                        <div class="form-group">
                            <input id="DateSt1" name="DateSt" type="hidden" value="2000-01-01" />
                        </div>
                        <div class="form-group">
                            <input id="DateEnd1" name="DateEnd" type="hidden" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        </div>
                        <div class="form-group">

                            <button class="btn btn-default" style="margin-right:100px" id="ExportToExcel" type="submit"> <img src="~/images/excel.png" width="20px" height="20px" /> Xuất Excel</button>
                        </div>
                    }
                </div>
            </div>



            <table style="text-align:center; border-collapse:collapse; ">
                <tr style="background: #d2d2d2; color: black">

                    <th style="width:100px">
                        Tên đề tài
                    </th>
                    <th>
                        Tên giảng viên
                    </th>
                    <th>
                        Tên sản phẩm KHCN
                    </th>
                    <th>
                        Bắt đầu
                    </th>
                    <th>
                        Thời gian
                    </th>
                    <th>
                        Kinh phí
                    </th>
                    
                    <th>
                        Progress
                    </th>

                </tr>

                @foreach (var deTaiGV in topicOfLectures)
                {

                    <tr class="Search" id="lecture">

                        <td class="nametd" style="width: 150px; color: blue">

                            @deTaiGV.topicOfLecture.Name

                        </td>
                        <td>

                            @deTaiGV.information.NameLe


                        </td>
                        <td width="170px">
                            <input class="IdP" type="hidden" value="@deTaiGV.pointTable.IdP" />
                            @deTaiGV.pointTable.NameP
                        </td>
                        <td class="Year">
                            <input class="Year1" value="@deTaiGV.topicOfLecture.DateSt.ToString("yyyy/MM/dd")" type="hidden" />
                            @deTaiGV.topicOfLecture.DateSt.ToString("dd/MM/yyyy")
                        </td>

                        <td>

                            @deTaiGV.topicOfLecture.Times tháng

                        </td>
                        <td>

                            @deTaiGV.topicOfLecture.Expense VNĐ

                        </td>
                       
                        <td>

                            @deTaiGV.topicOfLecture.Progress

                        </td>

                    </tr>

                }

            </table>
        </div>
        <div id="tab2" class="tab-content" style="display:none;">
            <input id="SearchStudent" type="text" class="form-control" placeholder="Nhập tên đề tài sinh viên" name="name" />

            <div>
                <h3> Tiêu chí thống kê </h3>
            </div>
            <div class="row" style="margin-bottom:20px">

                <div style="margin-right:20px" class="col-md-2">
                    Từ ngày
                    <input id="DateStStu" type="date" value="2000-01-01" />
                </div>
                <div class="col-md-2">

                    Đến ngày
                    <input id="DateEndStu" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </div>


            </div>
            <div class="row">
                <div class="col-md-4">
                    @if (ViewBag.listtype != null)
                    {

                        @Html.DropDownList("IdPStu", ViewBag.listJournal as SelectList, "--Tất cả loại tạp chí--", new { @class = "form-control", @style = "background:#91a6e4ad; color:black; border:solid 1px black" })

                    }
                </div>
               
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button style="margin:20px 0 10px 0" class="btn btn-default" id="buttonSearchStu"><i class="fa fa-search-dollar"> Tìm kiếm</i> </button>

                </div>
                <div style="margin-left:590px; width:200px" class="col-md-3">
                    @using (Html.BeginForm("ExportExcelStu", "Statistic", FormMethod.Post, new { @style = "width: 122px" }))
                    {
                        <div class="form-group">
                            <input id="IdPaStu" name="IdPaStu" type="hidden" value="Tất cả loại tạp chí" />
                        </div>
                        <div class="form-group">
                            <input id="DateSt1Stu" name="DateStStu" type="hidden" value="01-01-2000" />
                        </div>
                        <div class="form-group">
                            <input id="DateEnd1Stu" name="DateEndStu" type="hidden" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" id="ExportToExcelStu" type="submit"> <img src="~/images/excel.png" width="20px" height="20px" /> Xuất Excel</button>

                        </div>
                    }
                </div>

                <table width="1000px" style="text-align:center">
                    <tr style="background: #4e73dfad; color: white">

                        <th>
                            Tên đề tài
                        </th>
                        <th>
                            Tên sinh viên
                        </th>
                        <th>
                            Mã sinh viên
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Tên sản phẩm KHCN
                        </th>
                        <th>
                            Bắt đầu
                        </th>
                        <th>
                            Thời gian
                        </th>
                        <th>
                            Kinh phí
                        </th>
                         
                        <th>
                            Tiến độ
                        </th>

                    </tr>

                    @foreach (var topicOfStudent in topicOfStudents)
                    {

                        <tr id="student" class="SearchStu">

                            <td class="namestudent" style="width:100px; color:blue">

                                @topicOfStudent.topicOfStudent.Name

                            </td>
                            <td>

                                @topicOfStudent.topicOfStudent.NameSt


                            </td>
                            <td>

                                @topicOfStudent.topicOfStudent.IdSV

                            </td>
                            <td>

                                @topicOfStudent.topicOfStudent.Emmail

                            </td>
                            <td>
                                <input class="IdPStu" type="hidden" value="@topicOfStudent.pointTable.IdP" />
                                @topicOfStudent.pointTable.NameP

                            </td>
                            <td>
                                <input class="Year1Stu" value="@topicOfStudent.topicOfStudent.DateSt.ToString("yyyy/MM/dd")" type="hidden" />
                                @topicOfStudent.topicOfStudent.DateSt.ToString("dd/MM/yyyy")

                            </td>
                            <td>

                                @topicOfStudent.topicOfStudent.Times tháng

                            </td>
                            <td>

                                @topicOfStudent.topicOfStudent.Expense VNĐ

                            </td>
                            
                            <td>

                                @topicOfStudent.topicOfStudent.Progress

                            </td>

                        </tr>

                    }



                </table>
            </div>

        </div>
    </div>

