
@{
    ViewBag.Title = "listextension";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listextension = (List<DuAnQLNCKH.Models.TopicOfLectureView>)ViewBag.listextension;

}
<style>
    table td, th{
        padding:8px;
    }
    table tr {
        border: 1px dotted black;
    }
</style>
<div style="margin:20px 0 20px 0" class="page-title">
   
    <strong style="font-size:25px">Gia hạn đề tài</strong>
</div>
<hr style="width:1200px" />
<table class="table1"style="width:1100px">

    <tr class="headerrow">


        <th>Tên giảng viên</th>
        <th>
            Tên đề tài

        </th>
        <th>
            Sản phẩm của NCKH

        </th>
        <th>  Ngày bắt đầu      </th>
        <th width="150px">
            Thời gian thực hiện
        </th>
        <th>Ngày kết thúc</th>
        <th>
            Chi phí
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            Tiến trình
        </th>
        <th> Thời gian gia hạn đến ngày </th>
        <th>Lí do gia hạn</th>
        <th></th>
    </tr>
    @foreach (var item in listextension)
    {

        var idtp = (String)item.extension.IdTp;
        var idEx = item.extension.IdEx;
        
            <tr id="@idEx">

                <td>@item.information.NameLe</td>
                <td width="100px">@item.topicOfLecture.Name</td>
                <td>@item.pointTable.NameP</td>
                <td>@item.topicOfLecture.DateSt.ToString("dd/MM/yyyy")</td>
                <td>@item.topicOfLecture.Times tháng</td>
                <td>
                    @{
                        var dateEnd = item.topicOfLecture.DateSt.AddMonths(item.topicOfLecture.Times).ToString("d");
                        <p>@dateEnd</p>
                    }
                </td>
                <td>@item.topicOfLecture.Expense</td>
                <td>@item.topicOfLecture.Status</td>
                <td>@item.topicOfLecture.Progress</td>
                <td>@item.extension.Times.ToString("dd/MM/yyyy")</td>

                <td>@item.extension.Reason</td>
                <td>


                    <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="GhBtnClicked(@idEx, '@item.topicOfLecture.Name', '@item.information.Email')" value="Gia hạn" />

                </td>
                 
            </tr> 
        
        
    }
</table>
<script>

    function GhBtnClicked(IdEx, NameTo, Email) {

       

        //var times = $('td#Times').data().value;
        //var idtp = $('td#IdTp').data().value;

        var row = $('#' + IdEx);

        row.remove();

        $.ajax({

            type: "POST",
            url: "/TopicOfLecture/extension/",
            data: { IdEx: IdEx, NameTo: NameTo, Email:Email },
            dataType: "json",
            success: function () {
                alert('sucess');
            }

        });

    };
    function DelBtnClicked() {


        var ele = event.srcElement;
        var id = $(ele).data('id');
        var row = $('#' + id);

        $.ajax({
            type: "POST",
            url: "/TopicOfLecture/Delete/",
            data: { IdTp: id },

            dataType: "json",
            success: function () {

                row.remove();
            }
        });


    }
    function XdBtnsvClicked() {

        var ele = event.srcElement;
        var id = $(ele).data('id');
        var row = $('#' + id);
        row.remove();
        $.ajax({
            type: "POST",
            url: "/TopicOfLecture/xetduyetsv/",
            data: { IdTp: id },

            dataType: "json",
            success: function () {

            }

        });

    };
</script>
